@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "main";
@import "users";
@import "awesomplete";
@import "crawls";
@import "navbar";
@import "footer";

@media only screen and (max-width: 600px) {

  /*
    Filters component
  */

  .nav-pills > li:first-child {
    margin-left: 15px;
    padding: 10px 20px 10px 20px;
  }

  .nav-pills > li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 15px 10px 15px;
  }

}