// Place all the styles related to the crawls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  Crawls Index Page
 */

.crawlList-flex {
  display: flex;
  align-items: center;
}

.crawlList-header {
  width: 33.33333%;
}

.crawlList-rows {
  width: 33.33333%;
}

.row.border {
  border-top: solid 1px gray;
}



.tags-flex {
  display: flex;
  flex-wrap: wrap;
}

.tags-list {
  margin: 5px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background-color: #0987E5;
  font-weight: 700;
  color: white;
}

/*
  CrawlShow component
*/

.crawlShow-flex {
  display: flex;
  align-items: center;
}

/*
  CrawlDetails component
*/

.details-flex {
  display: flex;
  /*justify-content: center;*/
}


.hops-list {
  /*width: 50.0%;*/
}

.hops-list-ul {
  list-style: none;
  padding: 0;
}

.hops-list-ul li {
  padding: 5px 0;

}

.details-description {
  padding-left: 15px;
}

/*
  Crawls Form Page
 */
.visually-hidden {
  display: none;
}

div.awesomplete {
  display: block;

  ul {
    top: 40px;
  }

  mark {
    background: #FFFFFF;
    background-color: #FFFFFF;
  }
}

/*
  MAP
 */
#map {
  height: 400px;
}
