// Place all the styles related to the crawls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  Crawls Index Page
 */
.crawlList-flex {
  display: flex;
  align-items: center;
}

.crawlList-header {
  width: 33.33333%;
}

.crawlList-rows {
  width: 33.33333%;
}

.row.border {
  border-top: solid 1px gray;
}

.hops-list {
  width: 40.0%;
}

/*
  Crawls Form Page
 */
.visually-hidden {
  display: none;
}

div.awesomplete {
  display: block;

  ul {
    top: 40px;
  }

  mark {
    background: #FFFFFF;
    background-color: #FFFFFF;
  }
}
