// Place all the styles related to the crawls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
  Crawls Index Page
 */

#crawls-container-flex h1 {
  text-align: center;
}

#dropdown {
  padding: 0;
  margin: 0;
  border: none;
}

#dropdown:hover,
#dropdown:focus {
  padding: 0;
  margin: 0;
  border: none;
  background-color: none;
}

#toggle-tags {
  border: 2px solid #0987E5;
  color: #0987E5;
  padding: 10px 20px 10px 20px;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

#toggle-tags:hover {
  background-color: #0987E5;
  color: #fff;
}

li#dropdown.dropdown:hover {
  background-color: #fff;
}

.filters-flex {
  display: flex;
  align-items: center;
  /*align-content: center;*/
  /*position: static;*/
  flex-direction: column;
}

.filters-flex .filters-search {
  margin-bottom: 10px;
}

.nav-pills > li {
  border: 2px solid #0987E5;
  color: #0987E5;
  padding: 10px 20px 10px 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

.nav-pills > li:hover,
.nav-pills > li:focus,
.nav-pills > li:active {
  background-color: #0987E5;
  color: #fff;
}

.dropdown-menu {
  height: 200px;
  overflow: auto;
}

/*
Crawls List
*/

.crawlList-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 15px 0 15px 0;
}

.crawlList-rows {
  width: auto;
}

.crawlList-header {
  width: auto;
}

.crawlList-header h3 {
  margin-top: 10px;
}

.crawlList-header.first h3 {
  margin: 10px 0 5px 0;
}

.crawlList-header.third h3 {
  margin: 5px 0 10px 0;
}

.crawlList-rows.tags-flex {
  width: 350px;
  justify-content: center;
  /*align-items: center;*/
}

.row.border {
  border-top: solid 1px gray;
}

.tags-flex {
  display: flex;
  flex-wrap: wrap;
}

.tags-list {
  margin: 5px;
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
  background-color: #09E5D5;
  font-weight: lighter;
  font-size: 0.8em;
  color: white;
}

a.crawl-name {
  color: #0987E5;
}

a.crawl-name:hover {
  color: #076CB7;
  text-decoration: none;
}

/*
  CrawlDetails component
*/

.details-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -10px 0 15px 0;
}

.details-description {
  order: 1;
  text-align: center;
}

.hops-list {
  width: auto;
  order: 2;
  padding: 0;
  text-align: center;
}

.hops-list-ul {
  list-style: none;
  padding: 0;
  margin: 5px 0 5px 0;
}

.hops-list-ul li {
  padding: 5px 0 5px 0;

}

/*
  CrawlShow component
*/

.crawlShow-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*#crawl-details-show {
  width: 70.0%;
}*/

#review-form {
  width: 30.0%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

#show-reviews {
  width: 100%;
}

div.review {
  margin-left: 500px;
}

.details-reviews-flex {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.review-list-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.review-list-header {
  text-align: center;
}

.review-list-row {
  text-align: center;
}

.review-list-row p {
  margin: 10px 0 10px 0;
}

.crawl-details-review div h3 {
  text-align: center;
}


/*
  Crawl animations for CrawlDetails component
*/

.details-enter {
  transition: all 0.5s;
  /*opacity: 0;*/
  transform: translateX(-200%);
  max-height: 0;
  /*padding: 0 !important;*/
}

.details-enter.details-enter-active {
  /*opacity: 100;*/
  transform: translateX(0%);
  max-height: 400px;
  /*padding: 10px 0 !important;*/
}

.details-leave {
  transition: all 0.1s;
  transform: translateY(0%);
  max-height: 200px;
  padding: 10px 0 !important;
}

.details-leave.details-leave-active {
  transform: translateX(-200%);
/*  transition: 0.1s;
*/  max-height: 0;
  /*padding: 0 !important;*/
}

/*
  Crawls Form Page
 */

.visually-hidden {
  display: none;
}

div.awesomplete {
  display: block;

  ul {
    top: 40px;
  }

  mark {
    background: #FFFFFF;
    background-color: #FFFFFF;
  }
}


@media only screen and (max-width: 800px) {

  /*
    CrawlsList component
  */


  /*
    Crawl component
  */


  /*
    CrawlDetails component
  */

  /*
    CrawlShow component
  */

  /*
    CrawlShow component - Review form flex
  */

  /*
    Filters component
  */

  .nav-pills > li:first-child {
    padding: 10px 20px 10px 20px;
  }

  .nav-pills > li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
  }

  /*
    Two columns
  */

  #flexbox-container-columns {
    flex-direction: column;
    align-items: center;
  }

  #map-flex {
    width: 100%;
    margin-top: 65px;
    height: 200px;
    position: fixed;
    z-index: auto;
    order: 1;
  }

  #crawls-container-flex {
    width: 100%;
    overflow: auto;
    padding: 0 0 0 0;
    margin-top: 290px;
    margin-bottom: 20px;
    z-index: auto;
    order: 2;
  }

  #map {
    width: 100%;
    height: 200px;
    /*position: fixed;*/
  }

}






