#footer {
  width: 100%;
  height: 85px;
  background-color: #09E5D5;
  text-align: center;
  position: static;
  border-top: 10px solid #B5F7F2;
  position: fixed;
  left:0px;
  bottom:0px;
  z-index: 2;
}

div.hidden-footer {
  display: none;
}

div.social-icons-list-flex {
  // display: flex;
  // align-items: center;
  // box-sizing: border-box;
  margin: 0 auto;
}

div.social {
  margin: 0 auto;
}

ul.social-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  // width: 33.33333%;
}

li.social-list {
  display: block;
  float: left;
  padding: 10px;
  margin-top: 10px;
}

i.fa-stack-1x.fa-inverse {
  background-color: #09E5D5;
  border: 2px solid #fff;
  border-radius: 50%;
}

.credits {
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
}

.contact-paragraph {
  line-height: 1.5em;
}