@import "bootstrap-sprockets";
@import "bootstrap";

body {
  color: #3c3c3c;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

p {
  line-height: 1.8em;
}

li > a {
  color: #3c3c3c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
  font-weight: 700; 
}

mark {
  background-color: #09E5D5;
  line-height: 1.8em;
}

#brand-header {
  color: #fff;
}

.text-center {
  text-align: center;
}

.crawlList-flex {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.crawlList-header {
  width: 33.33333%;
}

.crawlList-rows {
  width: 33.33333%;
}

.row.border {
  border-top: solid 1px gray;
}

.hops-list {
  width: 40.0%;
}

#outermost {
  margin-top: 70px;
}