.navbar {
  background-color: #0987E5;
}

a.navigation-item {
  color: #fff;
}

// li > a.contact-link {
//   color: #fff;
// }

.navbar-brand {
  color: #fff;
}

button.navbar-toggle {
  background-color: #3a9fea;
  border: 2px solid #fff;
}