// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-flex {
  display: flex;
  box-sizing: border-box;
}

.profile-pic {
  width: 300px;
  height: 300px;
}

.profile-pic img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}

.profile-details {
  padding-left: 20px;
}

.notice {
  padding: 5px;
  border-radius: 5px;
  background-color: lightgreen;
  border: green 2px solid;
}

.profile-edit {
  border: 2px solid #0987E5;
  color: #0987E5;
  padding: 5px 10px;
  /*margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;*/
  border-radius: 20px;
}