<div id="footer" class="hidden">
  <div class="container">
    <div class="row">
      <div class="social-icons-list-flex">
        <ul class="social-icons text-center">
          <li class="social-list">
            <a href="https://github.com/ianvdhSBM/pub_crawl_final" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="social-list">
            <a href="https://github.com/ianvdhSBM/pub_crawl_final" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="social-list">
            <a href="https://github.com/ianvdhSBM/pub_crawl_final" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="social-list">
            <a href="https://github.com/ianvdhSBM/pub_crawl_final" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <br/>
        <div class="credits">Created by Ian Van Den Heuvel, Paul Iogna, and Hanna Jones</div>
        <div class="credits">&copy; Lighthouse Labs, February 2016</div>
      </div>
    </div>
  </div>
</div>
